p, li {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #000000; }

li {
  list-style: none; }

li:before {
  content: '\2B51';
  margin-left: -20px;
  margin-right: 10px; }

h1, h2, h3, h4, h5 {
  font-family: Raleway; }

h3 {
  font-weight: bold; }

a {
  color: #000000; }
  a:hover {
    cursor: pointer;
    color: #313131;
    text-decoration: none; }

.gs-intro {
  background: #DCCDC6; }

.gs-intro-text h1 {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.03em;
  text-align: center;
  font-size: 37px; }
  @media (min-width: 768px) {
    .gs-intro-text h1 {
      font-size: 48px;
      text-align: left; } }
.gs-intro-text p {
  text-align: center; }
  @media (min-width: 768px) {
    .gs-intro-text p {
      text-align: left; } }

.gs-logo {
  width: 100%;
  position: relative; }
  @media (min-width: 768px) {
    .gs-logo {
      width: 250px; } }
  @media (min-width: 1200px) {
    .gs-logo {
      width: 400px; } }
  .gs-logo.mobile {
    text-align: center; }

.gs-highlights {
  background: #D2C1B8; }

.btn-download {
  text-align: center; }
  .btn-download > img {
    height: 43px;
    width: auto; }

@media (min-width: 768px) {
  .btn-download > img {
    height: 46px;
    width: auto; } }
.gs-banner {
  position: relative; }
  .gs-banner > img {
    width: 100%;
    height: auto; }
  @media (min-width: 768px) {
    .gs-banner {
      background: url(../assets/getstylin-banner-img.png) no-repeat;
      background-size: cover;
      background-position: center; }
      .gs-banner > img {
        visibility: hidden; } }

.gs-mockup {
  position: absolute;
  z-index: 2;
  left: 50px;
  width: 280px;
  top: 60%;
  transform: translateY(-40%); }

.gs-mobile-mockup {
  width: 60%;
  margin: 0 auto; }

.gs-section.features {
  background: #CAB6AC; }
.gs-section.contact {
  background: #C6B1A7; }
.gs-section.footer {
  background: #D2C1B8;
  overflow: hidden; }

.gs-social {
  text-align: center; }

@media (max-width: 768px) {
  .gs-social {
    width: 50%; } }
@media (max-width: 760px) {
  .hide-small {
    display: none; } }
@media (min-width: 768px) {
  .hide-medium {
    display: none; } }
.carousel-indicators {
  margin-bottom: 0; }

/*# sourceMappingURL=getstylin-custom.css.map */
